AplñicacionSencilla.FrontEnd/Connected Services/AplicacionSencillaServicio/AplicacionSencillaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AplicacionSencillaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51192/AplicacionSencillaServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51192/AplicacionSencillaServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51192/AplicacionSencillaServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AplicacionSencilla.Entidades.WCF.Usuarios" />
      <xsd:import schemaLocation="http://localhost:51192/AplicacionSencillaServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AplicacionSencilla.Entidades.WCF" />
      <xsd:import schemaLocation="http://localhost:51192/AplicacionSencillaServicio.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AplicacionSencilla.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAplicacionSencillaServicio_ObtenerUusuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUusuarios" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_ObtenerUusuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUusuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_BorrarUusuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarUusuarios" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_BorrarUusuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarUusuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_AgregarUusuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUusuarios" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_AgregarUusuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUusuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAplicacionSencillaServicio_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IAplicacionSencillaServicio">
    <wsdl:operation name="ObtenerUusuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/ObtenerUusuarios" message="tns:IAplicacionSencillaServicio_ObtenerUusuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/ObtenerUusuariosResponse" message="tns:IAplicacionSencillaServicio_ObtenerUusuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarUusuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/BorrarUusuarios" message="tns:IAplicacionSencillaServicio_BorrarUusuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/BorrarUusuariosResponse" message="tns:IAplicacionSencillaServicio_BorrarUusuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUusuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/AgregarUusuarios" message="tns:IAplicacionSencillaServicio_AgregarUusuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/AgregarUusuariosResponse" message="tns:IAplicacionSencillaServicio_AgregarUusuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/Login" message="tns:IAplicacionSencillaServicio_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacionSencillaServicio/LoginResponse" message="tns:IAplicacionSencillaServicio_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAplicacionSencillaServicio" type="tns:IAplicacionSencillaServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerUusuarios">
      <soap:operation soapAction="http://tempuri.org/IAplicacionSencillaServicio/ObtenerUusuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarUusuarios">
      <soap:operation soapAction="http://tempuri.org/IAplicacionSencillaServicio/BorrarUusuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUusuarios">
      <soap:operation soapAction="http://tempuri.org/IAplicacionSencillaServicio/AgregarUusuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAplicacionSencillaServicio/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AplicacionSencillaServicio">
    <wsdl:port name="BasicHttpBinding_IAplicacionSencillaServicio" binding="tns:BasicHttpBinding_IAplicacionSencillaServicio">
      <soap:address location="http://localhost:51192/AplicacionSencillaServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>